* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(background.png);
    background-size: 70%;
    color:black;
    line-height: 1.6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    align-items: center;
    background: rgba(234, 227, 227);
}

.navbar h1 {
    color: #D4AF37;
}

.nav-links {
    text-align: center;
    display: flex;
    list-style: none;
    gap: 30px;
    margin-left: -312px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
} 

.nav-links a:hover {
    color:gold;
    transform: translateY(-2px);
    border-bottom: 2px solid gold;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 85vh;
    padding: 0 200px;
    gap: 60px;
    margin-bottom: 20px;
    background-image:url(background.png);
    background-size: 70%;
    
}

.hero-left {
    width: 50%;
}

.hero-right {
    width: 45%;
}

.hero-right img {
    display: block;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,.2);
    transition: 0.3s ease;
}

.hero-right img:hover {
    transform: scale(1.02);
}

.hero-left h2 {
    font-size: 3.25rem;
    margin-top: -310px;
    margin-bottom: 5px;
    color: #f1c535
}

.hero-left p {
    font-size: 1.2rem;
    margin-bottom: 40px;
    font-weight: bold;
}

.btn {
    color: #ffffff;
    background-color: #D4AF37;
    border-radius: 20px;
    text-decoration: none;
    padding: 20px;
}

.btn:hover {
    color: #c49a22;
    transform: translateY(-2px);
    transition: all 0.3s ease;
    cursor: pointer;
}

.sections {
    display: flex;
    gap: 30px;
    padding: 40px 8% 100px;
    flex-wrap: wrap;
    background-image:url(background.png);
    background-size: 70%;
}

.courses {
    flex: 1;
    min-width: 25px;
    padding: 25px;
    border: 2px solid #D4AF37;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,.2);
    transition: all 0.3 ease-in;
    margin-bottom: 245px;
    background-color: rgb(198, 197, 197);
    transition: 0.3s ease;
    

}

.courses:hover {
    transform: scale(1.02);
}

.courses img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 20px;
}

.page-hero {
    padding: 80px 8% 40px;
    background-image:url(background.png);
    background-size: 70%;
}

.page-hero h2 {
    color:#D4AF37;
    font-size: 80px;
}

.page-hero p {
    font-size: 23px;
    font-weight: bold;
    margin-top: -20px;
}

.courses strong {
    display: block;
    margin-bottom: 15px;
}

.about {
    display: flex;
    align-items: center;
    padding: 50px;
    background-image: url(background.png);
    background-size: 70%;
}

.about-right {
    width: 50%;
}

.about-left {
    width: 50%;
    margin-left: 50px;
}

.about-right img {
    width: 1000px;
    height: 600px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,.2);
    margin: -100px 90px;
    transition: 0.3s ease;
}

.about-right img:hover {
    transform: scale(1.02);
}

.about-left h2{
    color:#D4AF37;
    font-size: 2.7rem;
    margin-top: -15px;
    padding: 50px;
    margin-bottom: -20px;
    margin-left: 52px;
}

.about-left p {
    color: #000000;
    font-size: 21px;
    line-height: 1.8;
    padding: 50px;
    max-width: 1000px;
    font-weight: bold;
    margin-left: 50px;
}

.why1 {
    color:#D4AF37;
    background-image: url(background.png);
    background-size: 70%;

}

.why1 h2 {
    margin-bottom: 20px;
    font-size: 35px;
    margin-left: 200px;
}

.why2 {
    display: flex;
    gap: 15px;
    color: #D4AF37;
    margin-left: 200px;
    max-width: 500px;
    
}

.why2 h3 {
    margin-bottom: 50px;
    color: #D4AF37;
    line-height: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #D4AF37;
    animation: animated 3s infinite;
}

@keyframes animated {
  0% { color: #D4AF37 }
  50% { color: rgb(251, 255, 0); }
  100% { color: #D4AF37}
}

.kontakt {
    display: flex;
    flex: 1;
    max-width: 800px;
    padding: 25px;
    margin-left: 890px;
    margin-bottom: 700px;
    justify-content: center;
    gap: 80px;
    border: 3px solid #D4AF37;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,.2);
    background-color: rgb(232, 232, 232);
}


footer {
    text-align: center;
    padding: 30px;
    font-weight: bold;    
}

body.dark {
    background-image:url(backgrouddark.png);
    background-size: 70%;
    color: white;
}

body.dark .navbar {
    background-color: rgba(36, 36, 36);
    color: white;
}

body.dark .nav-links a {
    color: white;
    transition: 0.3s ease;
}

body.dark .nav-links a:hover {
    color: gold;
    border-bottom: 2px solid gold;
    transform: translateY(-2px);
}


body.dark .hero {
    background-image: url(backgrouddark.png);
    background-size: 70%;
}

body.dark .page-hero {
    background-image: url(backgrouddark.png);
    background-size: 70%;
}

body.dark .sections {
    background-image:url(backgrouddark.png);
    background-size: 70%;
}

body.dark .courses {
    background-color: rgb(40, 40, 40)
}

body.dark .about {
    background-image:url(backgrouddark.png);
    background-size: 70%
}

body.dark .about-left p {
    color: white;
}

body.dark .why1 {
    color:#D4AF37;
    background-image: url(backgrounddark.png);
    background-size: 70%;
}

body.dark .kontakt {
    background-color: rgb(39, 39, 39);
}

.faq {
    margin-bottom: 670px;
    line-height: 100px;
}

.faq-text {
    margin-left: 205px;
}

.faq-answer {
    display: none;
    margin-top: 15px;
}

.faq-text.active .faq-answer {
    display: block;
}


.faq-question {
    width: 100%;
    background: none;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    color: inherit;
    line-height: 2px;
}



